# Required. The GM Impact project ID.
NEXT_PUBLIC_SANITY_PROJECT_ID=ipt53rbp
NEXT_PUBLIC_SANITY_DATASET=staging
NEXT_PUBLIC_SANITY_API_VERSION=2026-06-08
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SANITY_API_READ_TOKEN=
